{% extends "base.html" %}
{% block title %}<title>Fault Analysis</title>{% endblock %}
{% block content %}
<h1>Fault Analysis Results</h1>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Node</th>
        <th>Fault Current (A)</th>
        <th>Total Impedance (pu)</th>
    </tr>
    {% for result in node_results %}
    <tr>
        <td>{{ result.node }}</td>
        <td>{{ result.fault_current_actual|floatformat:2 }}</td>
        <td>{{ result.total_impedance_pu|floatformat:3 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}